<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask-SocketIO WebSocket Example</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <h1>Tetris</h1>
    <div id="status">waiting another user...</div>
    <ul id="messages"></ul>

    <script>
        const socket = io();

        socket.on('message', function(data) {
            console.log(data);
            switch (data.event) {
                case 'connected':
                    document.querySelector('#status').innerText = data.data
            }


            const li = document.createElement('li');
            li.innerText = `${data.event}: ${data.data}`;
            document.getElementById('messages').appendChild(li);
        });


        window.addEventListener('keydown', e => {
            socket.send({event: 'keyboard', data: { key: e.code }})
        })

    </script>
</body>
</html>